/* 4 break points small, medium, large - hide nav < 600 */
 /* Super extra small devices (phones, 599px and down) */
 @media only screen and (max-width: 599px) {


     
    #notification.show {
      padding: 15px;
    }
    #second-title {
      width: 100%;
    }
    input[type=text], select, textarea {
      width: 345px;
    }
  
   .shake > .logo2 {
    display: block;
    transition: all .5s ease-in;
  }
  
  #activeButton > .shake > .logo2 {
    display: block;
  }
  
    iframe {
      width: 100%;
    }
  
    .logo2  img{
      display: block;
    }
  
     .topnav img {
      font-size: 40px;
    }
  
    .blue-bar {
      width: 3px;
    }
  
    .red-bar {
      width: 3px;
    }
  
    .handicon {
      bottom: 10px;
      right: 10px;
    }
  
    
  
    .containerform {
      padding-left: 0px;
      padding-right: 0px;
    }
    .flex-container > div > p {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .flex-container {
      padding-bottom: 4em;
    }
  
    .gallery {
      display: none;
    }
  
    .flex-container2 > div {
      width: 30%;
      justify-content: space-between;
    }
    .textcenter {
      font-size: .7em;
      width: 100%;
      font-weight: 700;
    }
    .project-container > div {
      width: 100%;
      margin-bottom: 70px;
    }
    .project-container {
      padding-bottom: 1em;
    }
     .project-container p {
      padding-left: 5%;
      padding-right: 5%;
    }
    .video iframe {
      height: 250px;
    }
    .containerform {
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
    }
    .sticky + #about {
      padding-top: 95px;
    }


    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    /* .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    } */
    /* .topnav a.icon {
      float: right;
      display: block;
    } */
    a.mobilenone {
      display: none;
    }
    .topnav {
      display: flex;
      justify-content: space-around;
    }
    





    .h2 {
      padding-bottom: 0px;
    }
    .wrapper2 h3 {
     font-size: 14px;
    }
    .wrapper2 .flex-container2 {
     padding-bottom: 1em;
    }

    .btns  {
      width: 125px;
    }
    .card-container {
      width:500px;
      height:400px;
      margin-bottom: 40px;
      padding-top: 40px;
      perspective: 2000px;
    }
    .front-title{
      left: 0px;
      text-align: center;
      padding-top: 60px;
    }
    .cardp {
      padding-top: 40px;
  
    }
    .card:nth-child(1) { order: 1; }
    .card:nth-child(2) { order: 2; }
    .card:nth-child(3) { order: 4; }
    .card:nth-child(4) { order: 3; }
  
    .icon-keyboard_arrow_up.bounce {
      border: none;
      bottom: -120px;
    } 
  }
  
  
  /* Small devices (600px and up) */
  @media only screen and (min-width: 600px) {
  
    .resumebtn {
      float: right;
    }
   
    .card-container {
    width:500px;
    height:400px;
    margin-bottom: 40px;
    }
  
    #second-title {
    padding-left: 4px;
  }
    .logo2 {
    display: none;
  }
    input[type=text], select, textarea {
      width: 370px;
    }
    .mainwrapper {
      font-size: 1.2rem;
    }
    .handicon {
      padding-top: 40px;
    }
    .handicon-padding {
      padding-top: 25px;
    }
    .card p {
      padding-left: 0px;
      padding-right: 0px;
    } 
    .row {
      display: none;
    }
    .header {
      display: none;
    }
    .header {
      display: none;
    }
    .sticky + #about {
      padding-top: 92px;
    }
    .projectwords h3, p {
     text-align: center;
     padding-left: 3em;
     padding-right: 3em;
    }
    .project-container > div {
      width: 100%;
      margin-bottom: 70px;
    }
    .project-container p {
      padding-left: 10%;
      padding-right: 10%;
    }
    .wrapper2 h3 {
     font-size: 14px;
    }
    .wrapper2 .flex-container2 {
     padding-bottom: 2em;
    }
    .flex-container2 > div {
      padding-bottom: 40px;
      width: 25%;
      justify-content: center;
    }
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mainwrapper {
      font-size: 1.2rem;
    }
    .wrapper2 > div {
      width: 100%;
      justify-content: space-between;
    }
  
    .flex-container2 > div {
      padding-bottom: 60px;
      width: 25%;
      justify-content: center;
    }
    .video iframe {
      height: 250px;
      padding: 400px;
    }
    .project-container p {
      padding-left: 5%;
      padding-right: 5%;
    }
    .flex-container > div {
      width: 40%;
      justify-content: center;
    }
    .buttonpadding2 {
      text-align: center;
      padding-left: 3em;
      padding-right: 3em;
    }
    .wrapper3 p {
      padding-left: 0pc;
      padding-right: 0pc;
    }
    .card:nth-child(1) { order: 1; }
    .card:nth-child(2) { order: 2; }
    .card:nth-child(3) { order: 3; }
    .card:nth-child(4) { order: 4; }
    
    input[type=text], select, textarea {
      width: 500px;
    }
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .run {
      animation: naruto_run 3s;
    }
  
    .project-container > div {
      width: 100%;
      margin-bottom: 50px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .sticky + #about {
      padding-top: 92px;
    }
    .wrapper2 h3 {
     font-size: 1.17em;
    }
  
   .cardflex > div {
      margin-left: 1%;
      margin-right: 1%;
    } 
  }