* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body { 
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      font-size: 1.2em;
      overflow-x: hidden;
    }
    
    body p {
      font-size: 1rem;
      color: #616161;
    }
    
    body h1, h2, h3 {
      color: #444649;
    }
    
    body h2 {
      font-size: 2em;
    }
    
    nav {
      z-index: 99;
    }

    







    /* HERO IMAGE */
    .hero {
    height: calc(100vh);
    width: calc(100vw);
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #252934;
    }
    
    .herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .herotext h1 {
    color: white;
    display: inline-block;
    font-weight: 100;
    font-size: 2.2em;
    }
    
    #Kareem {
    color: #E31B6D;
    font-weight: 600;
    }

    /* Bouncing down scoll*/
    .arrow:before {
    content: "\2303";
    }

.downarrow > .arrow:before {
    transform: rotate(180deg);
    font-size: 60px;
    position: absolute;
    right: -2%;
    color: white;
    }
    
    .arrow.bounce {
    font-size: 20px;
    position: absolute;
    bottom: -200px;
    left: 50% ;
    width: 60px;
    height: 60px ;
    margin-left:-30px;
    animation: bounce 2s infinite;
    }
    
    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
    }











    /* Navigation */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1B242F;
        overflow: hidden;
        font-weight: lighter;
        border-bottom: solid 2px #fd264f;
      }

      .navlinks ul {
          list-style: none;
          display: flex;
      }

      /* STICKY NAV */
      .navbar {
        z-index: 100;
        position: sticky;
        top: -1px;
        min-height: 50px;
      }
      
      /* Links */
      .navlinks li a {
        /* float: left; */
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
      
      }
      
      .navlinks .btns:hover {
        color: #E31B6D;
        transition: all 0.5s;
      }

      .resumebtn {
          float: right;
      }

      /*hamburger*/
      .togglebtn {
          position: absolute;
          top: .75rem;
          right: 1rem;
          display: none;
          flex-direction: column;
          justify-content: space-between;
          width: 30px;
          height: 21px;

      }

      .togglebtn .bar {
          height: 3px;
          width: 100%;
          background-color: white;
          border-radius: 10px;

      }

      @media (max-width: 600px) {
          .togglebtn {
              display: flex;
          }

          .navlinks {
              display: none;
              width: 100%;
          }
          

          .navbar {
              flex-direction: column;
              align-items: flex-start;
            
          }

          .navlinks ul {
              width: 100%;
              flex-direction: column;
          }

          .navlinks li a {
              padding: .5rem 1rem;
          }
          .navlinks.active {
            display: flex;
        }

          
      }












      /* About Section */
        .tabs {
        background: #191828;
        color: #efedef;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.01em;
        line-height: 1.6em;
        margin: 0;
        padding: 100px; }
        .tabs > h1 {
        font-size: 40px;
        line-height: 0.8em;
        color: rgba(255,255,255,0.2);
        }
      
        .tabs {
        display: block;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        overflow: hidden; 
        }
        .tabs label,
        .tabs label {
          color: #efedef;
          cursor: pointer;
          display: block;
          font-size: 1.1em;
          font-weight: 300;
          line-height: 1em;
          padding: 2rem 0;
          text-align: center; 
        }
        
        .tabs [class^="tab"] [type="radio"],
        .tabs [class*=" tab"] [type="radio"] {
          border-bottom: 1px solid rgba(239, 237, 239, 0.5);
          cursor: pointer;
          appearance: none;
          display: block;
          width: 100%;
          transition: all 0.3s ease-in-out; 
        }
          .tabs [class^="tab"] [type="radio"]:hover,
          .tabs [class^="tab"] [type="radio"]:focus,
          .tabs [class*=" tab"] [type="radio"]:hover,
          .tabs [class*=" tab"] [type="radio"]:focus {
            border-bottom: 1px solid #fd264f; 
        }
          
        .tabs [class^="tab"] [type="radio"]:checked,
        .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid #fd264f; 
        }

        .tabs [class^="tab"] [type="radio"]:checked + div,
        .tabs [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; 
        }
        
        .tabs [class^="tab"] [type="radio"] + div,
        .tabs [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 90%;
        transition: all 0.3s ease-in-out; 
        }
        
        .tabs .tab-2 { width: 50%; }
        .tabs .tab-2 [type="radio"] + div {
            width: 200%; margin-left: 200%; }
        .tabs .tab-2 [type="radio"]:checked + div {
            margin-left: 0; }
        .tabs .tab-2:last-child [type="radio"] + div {
            margin-left: 100%; }
        .tabs .tab-2:last-child [type="radio"]:checked + div {
            margin-left: -100%; }

/* SKILLS*/
    .iconwrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .iconwrap > div {
        padding-bottom: 4rem;
    }
    
    .icon1 {
        display: flex;
        flex-direction: column;
        min-width:  120px;
    }

    .icon1 > i, h3 {
        align-self: center;
    }
    
    .fa-html5 {
        color: red;
        align-self: center;
    }
    .fa-css3-alt {
        color: blue;
    }

    .fa-js {
        color: yellow;
    }

    .fa-bootstrap {
        color: purple;
    }

    .fa-react {
        color: lightblue;
    }
    
    .fa-php {
        color: lightskyblue;
    }




/*projects*/
.projectwrap {
  background: #f1f1f1;
  padding: 2rem 2rem;
}
.projectcard {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.projectcard a {
  color: inherit;
}
.projectcard a:hover {
  color: #5ad67d;
}
.projectcard:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.projectcard .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.projectcard .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.projectcard .details, .projectcard .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.projectcard .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -120%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.projectcard .details a {
  text-decoration: dotted underline;
}
.projectcard .details ul li {
  display: inline-block;
}
.projectcard .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.projectcard .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.projectcard .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.projectcard .details .tags li {
  margin-right: 2px;
}
.projectcard .details .tags li:first-child {
  margin-left: -4px;
}
.projectcard .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.projectcard .description h1, .projectcard .description h2 {
  font-family: Poppins, sans-serif;
}
.projectcard .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.projectcard .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.projectcard .description .read-more {
  text-align: right;
}
.projectcard .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.projectcard .description .read-more a:after {
  content: "\279c";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.projectcard .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.projectcard p {
  position: relative;
  margin: 1rem 0 0;
}
.projectcard p:first-of-type {
  margin-top: 1.25rem;
}
.projectcard p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.projectcard:hover .details {
  left: 0%;
}


@media (min-width: 640px) {
  .projectcard {
    flex-direction: row;
    max-width: 700px;
  }
  .projectcard .meta {
    flex-basis: 40%;
    height: auto;
  }
  .projectcard .description {
    flex-basis: 60%;
  }
  .projectcard .description:before {
    transform: skewX(-3deg);
    content: '';
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .projectcard.alt {
    flex-direction: row-reverse;
  }
  .projectcard.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .projectcard.alt .details {
    padding-left: 25px;
  }
}
































    












/* CONTACT */
    .contactheading  {
    display: flex;
    justify-content: center;
  }
  
  .formpadding {
    position: relative;
  }
  
  input, textarea {
    width: 6.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: #1B242F;
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  input:focus, textarea:focus {
    outline: none;
  }
  
  
  .formpadding span {
    position: absolute;
    background-color: #3cefff;
    transition: transform 0.5s ease;
  }
  
  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }
  
  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  
  .bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  input:focus ~ .bottom, textarea:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  .right {
    right: 0;
    transform-origin: top right;
  }
  
  input:focus ~ .right, textarea:focus ~ .right {
    transform-origin: bottom right;
    transform: scaleY(1);
  }
  
  .top {
    top: 0;
    transform-origin: top left;
  }
  
  input:focus ~ .top, textarea:focus ~ .top {
    transform-origin: top right;
    transform: scaleX(1);
  }
  
  .left {
    left: 0;
    transform-origin: bottom left;
  }
  
  input:focus ~ .left, textarea:focus ~.left {
    transform-origin: top left;
    transform: scaleY(1);
  }
  
  label {
    color: #ffffff;
    font-size: 16px;
  }
  
  .contactwrap {
    background-color: #252934;
    padding-top: 2.2em;
    padding-left: 4em;
    padding-right: 4em;
  }
  
  .contactwrap h2 {
    color: white;
  }
  
  #contactinfo p {
    text-align: center;
    color: #02C2C7;
    padding-bottom: 1em;
    font-size: 1.1rem;
  }
  
  .formpadding {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  /* Style inputs with type="text", select elements and textareas */
  form {
    padding-bottom: 4em;
  }
  
  input[type=text], select, textarea {
    border-width: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 500px; /* Full width */
    padding: 12px; /* Some padding */  
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=email], select, textarea {
    font-size: 16px;
    border-width: 0px;
    cursor: pointer;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    cursor: pointer;
    display: inline-block;
    border: 0.1em solid #ffffff;
    background-color: #252934;
    padding: 10px 30px;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 130px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    font-size: .8em;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    cursor: pointer;
    background-color: #02C2C7;
  }
  
  /* Add a background color and some padding around the form */
  .formwrap {
    display: flex;
    justify-content: center;
    background-color: #252934;
    padding-top: 20px;
    padding-left: 22%;
    padding-right: 22%;
  }












/* FOOTER */
    footer {
      background-color: #1B242F;
      padding: 70px 0 50px 0;
      position: relative;
    }
    
    footer i {
      text-align: center;
      font-size: 40px;
    }
    
    .backtotop {
      display: inline-block;
      text-align: center;
      position: absolute;
      top: -25px;
      border-radius: 2px;
      background: #E31B6D;
      font-size: 30pt;
      width: 50px;
      height: 50px;
      line-height: 40pt;
      left: 0;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
      transition: background .5s;
      justify-items: center;
      border-radius: 3px;
    }
    
    .backtotop:hover {
    background-color: #04C2C9;
    }
    
    .backtotop .arrow {
      color: white;
      font-size: 1.4em;
      position: absolute;
      top: 8px;right: 3px;
    }
    
    .backtotop .arrow:hover {
      color:  #070506;
      transition: background .5s;
    }
    
    .media {
      text-align: center;
    }
    
    .media a {
      text-decoration: none;
    }
    
    .media span {
      font-size: 3em;
      color: gray;
      padding-left: .6rem;
      padding-right: .6rem;
    }
    
    .media span:hover {
      color: #04C2C9;
      transition: all .3s;
    }
    
    #smalltext {
      text-align: center;
      padding-top: 2em;
    }
    
    #myName {
      color:  #D3D3D3;
    }
    
    #year {
      color: #04C2C9;
    }   